*,
*::after,  /*after and before pseudo element will apply these setting*/
*::before { /* To reset browser */
    margin: 0;
    padding: 0;
    /*box-sizing: border-box; /* padding and border is no longer added */
    box-sizing: inherit; 
}

html {
    /*font-size: 10px; 1 rem = 10 px */
    font-size: 62.5%; // not typography, because it's a global definition = what rem is
}

body {
    box-sizing: border-box; /*inheritance */
}